a{
    text-decoration: none;
    color:inherit;
    &:hover{
        text-decoration: underline;
        cursor:pointer;
    }
}

body{
    font-size:14px;
    line-height:1.5;
    color:#1d2c40;
}


// icon-font
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}