a{
    text-decoration: none;
    color:inherit;
    &:hover{
        text-decoration: underline;
        cursor:pointer;
    }
}

body{
    font-size:14px;
    line-height:1.5;
    color:#1d2c40;
}


// icon-font
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

#cas{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1;
}

#app{
    position:relative;
    z-index:2
}

	.markdown-body {
		box-sizing: border-box;
		min-width: 200px;
		max-width: 980px;
		margin: 0 auto;
		padding: 45px;
	}

	@media (max-width: 767px) {
		.markdown-body {
			padding: 15px;
		}
	}